@model HomeIndexViewModel

@{ 
    ViewBag.Title = "Index page";
    //Layout = "~/Views/Shared/_Layout.cshtml"; 
    //Set specific layout, or use global layout, 
    //or set it as null means do not use layout
}

<h1>@Model.CurrentMessage</h1>

@*Using partial view*@
@foreach(var restaurant in Model.Restaurants) {
    @Html.Partial("_Summary", restaurant);

}

<div>
    <a asp-action="Create" asp-controller="Home">Add Restaurant</a>
</div>

<div>
    @section footer{
        @Model.CurrentMessage
    }
</div>
